<!DOCTYPE html>
<html>
  <head>
    <title>Stips Inventory - LBNL</title>

    <link rel="stylesheet" href="static/inventory.css">

  </head>
  
  <body>
    <table border="1" frame="void" rules="columns">
      <caption>ATLAS Powerboard Inventory</caption>
      <tr class="spacer">
        <th colspan="8" class="sectionheader">Boards Stages at LBL</th>
      </tr>
      <tr class="subsectionheader">
        <td/>
        {% for stage in stages.columns %}
        <th class="subsectionheader">{{stage}}</th>
        {% endfor %}
      </tr>
      {% for version,counts in stages.iterrows() %}      
      <tr>
        <th scope="row" class="subsectionheader">{{ version }}</th>
        {% for count in counts %}
        <td class="count">{{ count }}</td>
        {% endfor %}
      </tr>
      {% endfor %}

      <tr class="spacer"><td colspan="8" class="empty">&nbsp</td></tr>
      <tr class="spacer">
        <th colspan="2" class="sectionheader">Boards Produced by LBL</th>
        <td colspan="6" class="empty">&nbsp</td>
      </tr>
      {% for pb in allpbs %}
      <tr>
        <th scope="row" class="subsectionheader">{{pb.title}}</th>
        <td class="count">{{pb.count}}</td>
        <td colspan="6" class="empty"/>
      </tr>
      {% endfor %}

      <tr class="spacer"><td colspan="8" class="empty">&nbsp</td></tr>
      <tr class="spacer">
        <th colspan="5" class="sectionheader">Boards at Other Sites</th>
        <td colspan="3" class="empty">&nbsp</td>
      </tr>

      {% for v,vdata in ships.groupby(level=0) %}
      <tr>
        <th class="corner">{{ v }}</th>
        {% for stage in vdata.columns %}
        <th class="subsectionheader">{{ stage }}</th>
        {% endfor %}
        <th class="subsectionheader">Total</th>
        <td colspan="3" class="empty">&nbsp</td> 
      </tr>
      {% for loc,counts in vdata.iterrows() %}
      <tr>
        <th scope="row" style="subsectionheader">{{ loc[1] }}</th>
        {% for count in counts %}
        <td class="count">{{ count }}</td>
        {% endfor %}
        <td class="count">{{ counts.sum() }}</td>
        <td colspan="3" class="empty">&nbsp</td> 
      </tr>
      {% endfor %}
      {% endfor %}
      <tr class="spacer">
        <td colspan="2" class="empty">&nbsp</td>
        <td colspan="6" rowspan="18"><img src="static/image.jpg" alt="" width="100%"/></td>
      </tr>
      <tr class="spacer"><th colspan="2" class="sectionheader">SMD's</th></tr>

      <tr class="subsectionheader">
        <th colspan="2">AMACv2</th>
      </tr>
      {% for amac in amacs %}
      <tr>
        <th scope="row">{{amac.title}}</th>
        <td class="count">{{amac.count}}</td> 
      </tr>
      {% endfor %}

      <tr class="subsectionheader">
        <th colspan="2">bPOL12V</th>
      </tr>
      {% for bpol in bpols %}
      <tr>
        <th scope="row">{{bpol.title}}</th>
        <td class="count">{{bpol.count}}</td> 
      </tr>
      {% endfor %}

      <tr class="subsectionheader">
        <th colspan="2">&nbsp</th>
      </tr>
      <tr>
        <th scope="row">Shield Boxes:</th>
        <td class="count" width="50">{{N_shieldbox}}</td> 
      </tr>
      <tr>
        <th scope="row">Coils:</th> 
        <td class="count">{{N_coil}}</td> 
      </tr>
      <tr>
        <th scope="row">HVmux:</th>
        <td class="count">{{N_hvmux}}</td> 
      </tr>
      <tr>
        <th scope="row">linPOL:</th>
        <td class="count">{{N_linpol}}</td> 
      </tr>
    </table>

    <div id="footer">
      Generated on {{ date_generated }}
    </div>
  </body>
</html>
